sentence-transformers==2.2.2
transformers==4.12.3
huggingface-hub==0.10.1
PyPDF2==3.0.0
llama-cpp-python==0.1.50
torch==1.10.1  # This is needed for the transformer models and sentence transformers
